<section id="m-details" class="inner-section light bg-color02">
     <div class="container-fluid nopadding">
        <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="300" data-animation-distance="30px" data-sr-id="13">
           <h3 class="font-accident-two-normal uppercase text-center">Technical skills</h3>
           <div class="dividewhite1"></div>
           <p class="small text-center fontcolor-medium">
              With the Gridus personal theme it’s possible to make an impressive website
              in just 15 minutes.
           </p>
           <div class="dividewhite6"></div>
        </div>
        <div class="row">
           <div class="col-md-3 infoblock text-center"
                data-animation-origin="left"
                data-animation-duration="400"
                data-animation-delay="400"
                data-animation-distance="50px"
                data-sr-id="14"
                *ngFor="let skill of cvData.skills.technical">
              <div class="row">
                 <div class="col-md-12"><i class="colored" [ngClass]="skill.icon"></i></div>
                 <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-two-bold uppercase">{{ skill.title }}</h5>
                    <p class="small">
                       Gridus Personal Template is the simple, clean and stylish fully-responsive resume / curriculum vitae WordPress theme
                    </p>
                 </div>
              </div>
              <div class="divider-dynamic"></div>
           </div>


           <div class="col-md-3 infoblock text-center" data-animation-origin="left" data-animation-duration="400" data-animation-delay="200" data-animation-distance="25px" data-sr-id="15">
              <div class="row">
                 <div class="col-md-12"><i class="flaticon-pie-graph"></i></div>
                 <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-two-bold uppercase">Optimized</h5>
                    <p class="small">
                       It is perfect as a vCard, creative Portfolio or personal CV and resume website for artists, designers and job-seekers.
                    </p>
                 </div>
              </div>
              <div class="divider-dynamic"></div>
           </div>
           <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="400" data-animation-delay="200" data-animation-distance="25px" data-sr-id="16">
              <div class="row">
                 <div class="col-md-12"><i class="flaticon-clocks18"></i></div>
                 <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-two-bold uppercase">Customizable</h5>
                    <p class="small">
                       The Ready-to-use pre-defined color css classes make possible to Customize your websire in a wide range.
                    </p>
                 </div>
              </div>
              <div class="divider-dynamic"></div>
           </div>
           <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="400" data-animation-delay="400" data-animation-distance="50px" data-sr-id="17">
              <div class="row">
                 <div class="col-md-12"><i class="flaticon-stats47"></i></div>
                 <div class="col-md-12">
                    <div class="dividewhite1"></div>
                    <h5 class="font-accident-two-bold uppercase">Multipurpose</h5>
                    <p class="small">
                       Made for professionals, people who want to show their creative way to success.
                    </p>
                 </div>
              </div>
              <div class="divider-dynamic"></div>
           </div>
        </div>
    </div>
</section>