<section id="m-details" class="inner-section light bg-color02">
     <div class="container-fluid nopadding">
        <div id="techTitle"
             [ngsRevealSet]="{reset:true, origin:'top', distance:'30px', duration:400, delay:300}"
             [ngsSelector]="'#techTitle'">
           <h3 class="font-accident-two-normal uppercase text-center">Technical skills</h3>
           <div class="dividewhite1"></div>
           <p class="small text-center fontcolor-medium">
              Following you can see the strongest knowledge areas categoryized.
           </p>
           <div class="dividewhite6"></div>
        </div>
        <div *ngFor="let category of cvData.skills.technical">
            <h4 class="font-accident-two-normal uppercase text-center">{{ category.category }}</h4>
            <div class="row">
                <div class="col-md-3 infoblock text-center"
                    data-animation-origin="left"
                    data-animation-duration="400"
                    data-animation-delay="400"
                    data-animation-distance="50px"
                    data-sr-id="14"
                    *ngFor="let skill of category.skills">
                  <div class="row">
                     <div class="col-md-12"><i class="colored" [ngClass]="skill.icon"></i></div>
                     <div class="col-md-12">
                        <div class="dividewhite1"></div>
                        <h5 class="font-accident-two-bold uppercase">{{ skill.title }}</h5>
                        <p class="small">
                           {{ skill.description }}
                        </p>
                     </div>
                  </div>
                  <div class="divider-dynamic"></div>
                </div>
            </div>
        </div>
    </div>
</section>