<div id="personal"
     [ngsRevealSet]="{reset:true, origin:'right', distance:'100px', duration:500, delay:600}" [ngsSelector]="'summary-personal-info'">
    <div class="padding-50 flex-panel">
       <h3 class="font-accident-two-normal uppercase title">Personal Info</h3>
       <div class="dividewhite4"></div>
       <div>
          <div class="fullwidth box">
             <div class="one"><p class="uppercase">Name:</p></div>
             <div class="two"><p class="">{{ cvData.personalData.fullname }}</p></div>
          </div>
          <div class="fullwidth box">
             <div class="one"><p class="uppercase text-nowrap">Birth Date:</p></div>
             <div class="two"><p class="">{{ cvData.personalData.birthDate }}</p></div>
          </div>
          <div class="fullwidth box">
             <div class="one"><p class="uppercase">Address:</p></div>
             <div class="two"><p class="">1234, Direct drive, Daytona Beach, Fl, USA</p></div>
          </div>
          <div class="fullwidth box">
             <div class="one"><p class="uppercase">Phone:</p></div>
             <div class="two"><p class="">1 234 567 89 10</p></div>
          </div>
          <div class="fullwidth box">
             <div class="one"><p class="uppercase">Email:</p></div>
             <div class="two"><p class="">{{ cvData.personalData.email }}</p></div>
          </div>
       </div>
       <div class="dividewhite1"></div>
    </div>
</div>