<section id="page-title" class="inner-section ui-menu-color04">
    <div class="container-fluid nopadding">
        <h2 class="font-accident-two-bold color01"
            [ngsReveal]="{reset:true, origin:'right', distance:'50px', duration:400, delay:100}">Contacts</h2>
        <h4 class="font-accident-two-light color01 uppercase subtitle"
            [ngsReveal]="{reset:true, origin:'right', distance:'50px', duration:400, delay:200}">{{ cvData.academic.title }}</h4>
        <p class="small color01"
           [ngsReveal]="{reset:true, origin:'right', distance:'50px', duration:400, delay:300}">
           
        </p>
    </div>
</section>