<div id="circle-skills" class="dark" data-section="progress" data-animation-origin="right" data-animation-duration="400" data-animation-delay="1100" data-animation-distance="200px" data-sr-id="36" style="">
    <div class="padding-50 flex-panel">
       <h3 class="font-accident-two-normal uppercase title">Professional skills</h3>
       <div class="dividewhite1"></div>
       <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12 nopadding" *ngFor="let skill of cvData.skills.professional;let i = index">
             <div class="progressbar text-center">
                <div [id]="'circle' + ( i + 1 )"
                     [progressBar]="'circle'"
                     [progressBarColor]="'#fff'"
                     [progressBarTrailColor]="'#fff'"
                     [progressBarFrom]='{"color": "#3498db", "width": 4}'
                     [progressBarTo]='{"color": "#ffd200", "width": 4}'
                     [progressBarValue]="skill.level / 100">
                </div>
                <h4 class="font-accident-two-bold uppercase">{{ skill.title }}</h4>
                <p class="font-regular-normal">
                   {{ skill.description }}
                </p>
                <a routerLink="/resume"  routerLinkActive="active" class="btn btn-wh-trans btn-xs">Learn More</a>
             </div>
             <div class="dividewhite1"></div>
          </div>
       </div>
    </div>
</div>