<section id="page-title" class="inner-section ui-menu-color02">
    <div class="container-fluid nopadding">
        <h2 class="font-accident-two-bold color01"
            data-animation-origin="right"
            data-animation-duration="400"
            data-animation-delay="100"
            data-animation-distance="50px"
            data-sr-id="7">Resume</h2>
        <h4 class="font-accident-two-light color01 uppercase subtitle"
            data-animation-origin="right"
            data-animation-duration="400"
            data-animation-delay="200"
            data-animation-distance="50px"
            data-sr-id="8">{{ cvData.academic.title }}</h4>
        <p class="small color01"
           data-animation-origin="right"
           data-animation-duration="400"
           data-animation-delay="300"
           data-animation-distance="50px"
           data-sr-id="9">
           {{ cvData.summary }}
        </p>
    </div>
</section>