<section id="page-title" class="inner-section ui-menu-color02">
    <div class="container-fluid nopadding">
        <h2 id="title1" class="font-accident-two-bold color01"
          [ngsRevealSet]="{reset:true, origin:'right', distance:'50px', duration:400, delay:100}"
          [ngsSelector]="'#title1'">Resume</h2>
        <h4 id="title2" class="font-accident-two-light color01 uppercase subtitle"
          [ngsRevealSet]="{reset:true, origin:'right', distance:'50px', duration:400, delay:200}"
          [ngsSelector]="'#title2'">{{ cvData.academic.title }}</h4>
        <p id="title3" class="small color01"
          [ngsRevealSet]="{reset:true, origin:'right', distance:'50px', duration:400, delay:300}"
          [ngsSelector]="'#title3'">
           {{ cvData.summary }}
        </p>
    </div>
</section>