/*
* @Author: Gabriel Lucena
* @Date:   2017-03-26 17:52:49
* @Last Modified by:   Gabriel Lucena
* @Last Modified time: 2017-04-08 19:38:40
*/
.building-da-vinci {
    background: url(/assets/img/buildings/davinci.jpg);
    background-position: center;
    background-size: cover;
};
.building-monorail01 {
    background: url(/assets/img/buildings/monorail01.jpg);
    background-position: center;
    background-size: cover;  
}
.building-once {
    background: url(/assets/img/buildings/pabellon_once.jpg);
    background-position: center;
    background-size: cover;
}
.building-baobab {
    background: url(/assets/img/buildings/baobab.png);
    background-position: center;
    background-size: cover;    
}