<section id="timeline" class="light inner-section">
         <div class="container-fluid nopadding">
            <div class="text-center"
                 [ngsReveal]="{reset:true, origin:'top', distance:'30px', duration:400, delay:400}">
               <div class="dividewhite4"></div>
               <h3 class="font-accident-two-normal uppercase">Professional Timeline</h3>
               <h5 class="font-accident-two-normal uppercase subtitle">Working hard and making the success</h5>
               <div class="dividewhite1"></div>
               <p class="small fontcolor-medium">
                  
               </p>
            </div>

            <div class="dividewhite4"></div>

            <ul class="timeline-vert timeline">
                <li *ngFor="let job of cvData.employment; let isOdd=odd;" [ngClass]="{'timeline-inverted': isOdd}">
                  <div class="timeline-badge primary"><i class="flaticon-clocks18"></i></div>
                  <div class="timeline-panel"
                       [ngsReveal]="{reset:true, origin: isOdd ? 'right' : 'left', distance:'25px', duration:400, delay:400}">
                     <p class="timeline-time fontcolor-invert">{{ job.from }} - {{ job.to }}</p>
                     <div class="timeline-photo" [ngClass]="job.image"></div>
                     <div class="timeline-heading">
                        <h4 class="font-accident-two-normal uppercase">{{ job.where }}</h4>
                        <h6 class="uppercase">{{ job.jobPosition }}</h6>
                        <p>
                           {{ job.description }}
                        </p>
                     </div>
                  </div>
               </li>

            </ul>

            <div class="text-center">
               <a href="#!" class="btn btn-darker" data-animation-origin="bottom" data-animation-duration="300" data-animation-delay="600" data-animation-distance="35px" data-sr-id="23">Learn More</a>
            </div>

            <div class="dividewhite6"></div>

         </div>

      </section>