<div id="contacts" class="inner-content">
    <section id="page-title" class="inner-section ui-menu-color04">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-bold color01"
                [ngsReveal]="{reset:true, origin:'right', distance:'50px', duration:400, delay:100}">Contacts</h2>
            <h4 class="font-accident-two-light color01 uppercase subtitle"
                [ngsReveal]="{reset:true, origin:'right', distance:'50px', duration:400, delay:200}">Made for Creative Professionals</h4>
            <p class="small color01"
               [ngsReveal]="{reset:true, origin:'right', distance:'50px', duration:400, delay:300}">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus. Ut vulputate, est vel tincidunt mattis, orci neque iaculis lectus, et interdum quam felis vel tortor. Fusce ultrices dui quis nunc dignissim faucibus. Ut ac odio quis nibh viverra fringilla ac id nisi. Suspendisse tincidunt augue quis ligula cursus, non efficitur ligula faucibus. Mauris id neque maximus, tincidunt metus et, sodales nulla.
            </p>
        </div>
    </section>
</div>