<div id="details"
     [ngsRevealSet]="{reset:true, origin:'left', distance:'200px', duration:300, delay:400}" [ngsSelector]="'summary-details'">
    <div class="padding-50 flex-panel">
       <div class="row row-no-padding">
          <div class="col-md-12 nopadding">
             <h3 class="font-accident-two-normal uppercase title">{{ cvData.personalData.title }}</h3>
             <div class="quote">
                <h4 class="font-accident-two-normal uppercase subtitle">{{ cvData.skills.summary }}</h4>
                <div class="dividewhite3"></div>
             </div>
          </div>
       </div>
       <div class="divider-dynamic"></div>
       <div class="row nopadding">
          <div class="col-md-4 infoblock nopadding" *ngFor="let skill of cvData.skills.personal;">
             <div class="row">
                <div class="col-xs-12 col-sm-1 col-md-3">
                  <i class="color-blue" [ngClass]="skill.icon"></i><div class="dividewhite1"></div>
                </div>
                <div class="col-xs-12 col-sm-11 col-md-9">
                   <h4 class="font-accident-two-medium uppercase">{{ skill.title }}</h4>
                   <p class="">
                      {{ skill.description }}
                   </p>
                </div>
             </div>
             <div class="divider-dynamic"></div>
          </div>
       </div>
    </div>
</div>