<section class="container-fluid" data-section="home">
   <div class="row flex-row">
      <summary-details class="col-md-8 flex-column bg-color01 light nopadding"></summary-details>

      <summary-personal-info class="col-md-4 flex-column light ui-block-color01 personal"></summary-personal-info>
   </div>
</section>
<section id="professional" class="container-fluid" data-section="home">

   <div class="row flex-row">
      <summary-employment class="col-md-4 flex-column nopadding ui-block-color02 flex-col"></summary-employment>
   </div>

</section>