<section class="container-fluid" data-section="home">

      <!-- Personal Flexy Section -->
      <div class="row flex-row">
         <!-- Personal Details 01 -->
         <div id="details" class="col-md-8 flex-column bg-color01 light nopadding" data-animation-origin="left" data-animation-duration="300" data-animation-delay="400" data-animation-distance="200px" data-sr-id="33" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.3s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.3s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; transition: transform 0.3s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s, opacity 0.3s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.4s; ">
            <div class="padding-50 flex-panel">
               <div class="row row-no-padding">
                  <div class="col-md-12 nopadding">
                     <h3 class="font-accident-two-normal uppercase title">{{ cvData.personalData.title }}</h3>
                     <div class="quote">
                        <h4 class="font-accident-two-normal uppercase subtitle">{{ cvData.skills.summary }}</h4>
                        <div class="dividewhite3"></div>
                     </div>
                  </div>
               </div>
               <div class="divider-dynamic"></div>
               <div class="row nopadding">
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-clocks18 color-blue"></i><div class="dividewhite1"></div></div>
                        <div class="col-xs-12 col-sm-11 col-md-9">
                           <h4 class="font-accident-two-medium uppercase">Modern</h4>
                           <p class="">
                              The Gridus Resume Template has an unique modern flat intuitive design. You can choose one of 8 Color schemes.
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-pie-graph color-blue"></i><div class="dividewhite1"></div></div>
                        <div class="col-xs-12 col-sm-11 col-md-9">
                           <h4 class="font-accident-two-medium uppercase">Simple CV</h4>
                           <p class="">
                              Gridus Personal Template is the simple, clean and stylish fully-responsive resume theme with modern creative design.
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-xs-12 col-sm-1 col-md-3"><i class="flaticon-tool-1 color-blue"></i><div class="dividewhite1"></div></div>
                        <div class="col-xs-12 col-sm-11 col-md-9">
                           <h4 class="font-accident-two-medium uppercase">Responsive</h4>
                           <p class="">
                              Works fast and looks fine on any device with the wide range of the screen resolution. Supports all the Google SEO rules.
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>

               </div>
            </div>
         </div>
         <!-- /Personal Details 01 -->

         <!-- Personal Details 02 -->
         <div id="personal" class="col-md-4 flex-column light ui-block-color01 personal" data-animation-origin="right" data-animation-duration="500" data-animation-delay="600" data-animation-distance="100px" data-sr-id="34" style="; visibility: visible;  -webkit-transform: translateX(0) scale(1); opacity: 1;transform: translateX(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s, opacity 0.5s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s; transition: transform 0.5s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s, opacity 0.5s cubic-bezier(1.000, 1.000, 1.000, 1.000) 0.6s; ">
            <div class="padding-50 flex-panel">
               <h3 class="font-accident-two-normal uppercase title">Personal Info</h3>
               <div class="dividewhite4"></div>
               <div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Name:</p></div>
                     <div class="two"><p class="">{{ cvData.personalData.fullname }}</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase text-nowrap">Birth Date:</p></div>
                     <div class="two"><p class="">{{ cvData.personalData.birthDate }}</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Address:</p></div>
                     <div class="two"><p class="">1234, Direct drive, Daytona Beach, Fl, USA</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Phone:</p></div>
                     <div class="two"><p class="">1 234 567 89 10</p></div>
                  </div>
                  <div class="fullwidth box">
                     <div class="one"><p class="uppercase">Email:</p></div>
                     <div class="two"><p class="">{{ cvData.personalData.email }}</p></div>
                  </div>
               </div>
               <div class="dividewhite1"></div>
            </div>
         </div>
         <!-- /Personal Details 02 -->
      </div>
      <!-- /Personal Flexy Section -->

   </section>