<div id="summary">
    <div id="header">
        <div class="table-cell">
            <img class="portrait" src="assets/img/profile.jpg" />
        </div>
        <div class="table-cell">
            <h1 class="font-accident-two-extralight">{{ cvData.personalData.fullname }}</h1>
            <h2 class="font-accident-two-extralight">{{ cvData.personalData.title }}</h2>
        </div>
        <div class="table-cell v-top">
            <dl>
                <dt>Email:</dt><dd>{{ cvData.personalData.email }}</dd>
                <dt>Phone:</dt><dd>{{ cvData.personalData.phone }}</dd>
                <dt>Web:</dt><dd>{{ cvData.personalData.website }}</dd>
                <dt><i class="fa fa-twitter"></i></dt><dd>{{ cvData.social[0].linkDescription }}</dd>
                <dt><i class="fa fa-linkedin"></i></dt><dd>{{ cvData.social[2].linkDescription }}</dd>
                <dt><i class="fa fa-github"></i></dt><dd>{{ cvData.social[1].linkDescription }}</dd>
            </dl>
        </div>
    </div>
    
    <hr/>

    <h3>About me</h3>
    <div class="row flex-row">
        <div id="personal" class="col-md-4 flex-column light padding-30 flex-panel">
            <div class="fullwidth box">
                <div class="one">
                    <p class="uppercase text-nowrap">Birth Date:</p>
                </div>
                <div class="two">
                    <p class="">{{ cvData.personalData.birthDate }}</p>
                </div>
            </div>
            <div class="fullwidth box">
                <div class="one">
                    <p class="uppercase">Address:</p>
                </div>
                <div class="two">
                    <p class="">{{ cvData.personalData.address }}</p>
                </div>
            </div>
            <div class="fullwidth box">
                <div class="one">
                    <p class="uppercase">Phone:</p>
                </div>
                <div class="two">
                    <p class="">{{ cvData.personalData.phone }}</p>
                </div>
            </div>
            <div class="fullwidth box">
                <div class="one">
                    <p class="uppercase">Email:</p>
                </div>
                <div class="two">
                    <p class="">{{ cvData.personalData.email }}</p>
                </div>
            </div>
        </div>
        <div id="summary" class="col-md-8 flex-column light padding-30 flex-panel">
            <div class="row flex-row">
                <div class="col-md-3 flex-column">
                    <img id="photo" src="assets/img/profile.jpg" />
                </div>
                <div class="col-md-9 flex-column">
                    {{ cvData.summary }}
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-row">
        <div class="col-md-6 flex-column light padding-30 flex-panel">
            <h3>Education</h3>
            <p>
                <strong>{{ cvData.academic.title }}</strong>
                <br/>
                <span>{{ cvData.academic.where }}</span>
                <br/>
                <span>{{ cvData.academic.from }} - {{ cvData.academic.to }}</span>
            </p>
        </div>
        <div class="col-md-6 flex-column light padding-30 flex-panel">
            <h3>Top Skills</h3>
            <div id="circle-skills" class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 padding-30" *ngFor="let skill of cvData.skills.professional;let i = index">
                    <div class="progressbar text-center">
                        <div [id]="'circle' + ( i + 1 )" [progressBar]="'circle'" [progressBarColor]="'#000000'" [progressBarTrailColor]="'#ccc'"
                            [progressBarFrom]='{"color": "#3498db", "width": 4}' [progressBarTo]='{"color": "#3497db", "width": 5}'
                            [progressBarValue]="skill.level / 100">
                        </div>
                        <h4 class="font-accident-two-bold uppercase">{{ skill.title }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-row ui-block-color01">
        <div id="pro-experience" class="col-md-9 flex-column light padding-30 flex-panel">
            <h3>Experience</h3>
            <div class="experience">
                <ul class="" *ngFor="let item of cvData.employment">
                    <li class="date">{{ item.from }} - {{ item.to }}</li>
                    <li class="company uppercase">
                        <a>
                            {{ item.where }}
                        </a>
                    </li>
                    <li class="position">{{ item.jobPosition }}</li>
                    <li class="description">{{ item.description }}</li>
                    <li> Main projects:
                        <ul>
                            <li *ngFor="let project of item.projects">
                                <strong>{{ project.title }}:</strong> {{ project.description }}
                                <ul class="project-tags">
                                    <li *ngFor="let tag of project.tags">
                                        <div class="chip">
                                            <i class="colored" [ngClass]="tag.icon"></i>
                                            {{ tag.label }}
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 flex-column light padding-30 flex-panel">
            <h3>Skills</h3>
            <ul>
                <li *ngFor="let category of cvData.skills.technical; let i = index">
                    <h4>{{ category.category }}</h4>
                    <ul>
                        <li  class="dividewhite4" *ngFor="let skill of category.skills; let i = index">
                            <div class="progressbar text-center">
                                <h4 class="font-accident-two-bold uppercase">{{ skill.title }}</h4>
                                <div [id]="'line' + ( i + 1 )" [progressBar]="'line'" [progressBarColor]="'#000000'" [progressBarTrailColor]="'#ccc'" [progressBarFrom]='{"color": "#3498db", "width": 4}'
                                    [progressBarTo]='{"color": "#3497db", "width": 5}' [progressBarValue]="skill.level / 100">
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <button (click)="printPDF()">PDF</button>
</div>