<div id="summary" #summary>
    <div id="header">
        <div class="table-cell">
            <img class="portrait" src="assets/img/portrait.jpg" />
        </div>
        <div class="table-cell">
            <h1 class="font-accident-two-extralight">{{ cvData.personalData.fullname }}</h1>
            <h2 class="font-accident-two-extralight">{{ cvData.personalData.title }}</h2>
        </div>
        <div class="table-cell v-top">
            <dl>
                <dt>Email:</dt><dd>{{ cvData.personalData.email }}</dd>
                <dt>Phone:</dt><dd>{{ cvData.personalData.phone }}</dd>
                <dt>Web:</dt><dd>{{ cvData.personalData.website }}</dd>
                <dt><i class="fa fa-twitter"></i></dt><dd>{{ cvData.social[0].linkDescription }}</dd>
                <dt><i class="fa fa-linkedin"></i></dt><dd>{{ cvData.social[2].linkDescription }}</dd>
                <dt><i class="fa fa-github"></i></dt><dd>{{ cvData.social[1].linkDescription }}</dd>
            </dl>
        </div>
    </div>
    
    <hr/>

    <div id="about">
        <div class="title">
            <h3>About me</h3>
        </div>
        <div class="content">
            <p>{{ cvData.summary }}</p>
        </div>
    </div>

    <hr/>

    <div id="experience">
        <div class="title">
            <h3>Experience</h3>
        </div>
        <div class="content">
            
            <div class="" *ngFor="let item of cvData.employment; let i=index;">
                <div class="date">{{ item.from }} - {{ item.to }}</div>
                <div class="position">{{ item.jobPosition }} at {{ item.where }}</div>
                <div class="description">{{ item.description }}</div>
                <div class="projects">
                    <p>Main projects:</p>
                    <ul>
                        <li *ngFor="let project of item.projects">
                            <strong>{{ project.title }}</strong> 
                            <p>{{ project.description }}</p>
                            <ul class="project-tags">
                                <li *ngFor="let tag of project.tags">
                                    <div class="chip">
                                        <i class="colored" [ngClass]="tag.icon"></i>
                                        {{ tag.label }}
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <hr class="hr-short" *ngIf="i < cvData.employment.length - 1"/>
            </div>
        
        </div>
    </div>

    <hr/>

    <div id="education">
        <div class="title">
            <h3>Education</h3>
        </div>
        <div class="content">
            <p>
                <strong class="position">{{ cvData.academic.title }}</strong>
                <br/>
                <span>{{ cvData.academic.where }}</span>
                <br/>
                <span>{{ cvData.academic.from }} - {{ cvData.academic.to }}</span>
            </p>
        </div>
    </div>

    <hr/>

    <div id="skills">
        <div class="title">
            <h3>Skills</h3>
        </div>
        <div class="content">
            <ul>
                <li *ngFor="let category of cvData.skills.technical; let i = index">
                    <p class="position">{{ category.category }}</p>
                    <ul>
                        <li  class="dividewhite4" *ngFor="let skill of category.skills; let i = index">
                            <div class="progressbar text-center">
                                <h4 class="font-accident-two-bold uppercase">{{ skill.title }}</h4>
                                <div [id]="'line' + ( i + 1 )" [progressBar]="'line'" 
                                    [progressBarColor]="'transparent'"
                                    [progressBarTrailColor]="'#c8c8c8'" 
                                    [progressBarTrailwidth]="4"
                                    [progressBarFrom]='{"color": "#3498db", "width": 4}'
                                    [progressBarTo]='{"color": "#3497db", "width": 5}'
                                    [progressBarValue]="skill.level / 100">
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <button (click)="printPDF()">PDF</button>
</div>