h1 {

}


#summary {
    background: white;
    color: #828282;
    padding: 2em;
    margin-top: 30px;

    hr {
        margin: 40px 0;
    }

    > * {
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto;
    }

    #header {
        display:table;
        table-layout:fixed;
        
        h1 {
            font-weight: lighter;
            color: #8ab5ba;
        }
        h2 {
            font-size: 24px !important;
            white-space: nowrap;
        }
        img.portrait {
            border-radius: 50%;
            height: 170px;
        }
        div.table-cell {
            float: none;
            display: table-cell;
            padding-right: 20px;

            &.v-top {
                vertical-align: top;
            }

            dt, dd {
                color: #b7b7b7;
                font-size: 13px;
            }
            dd {
                width: 75%;
                float: left;
            }
            dt {
                font-weight: normal;
                width: 25%;
                float: left;
            }
        }
        div:nth-child(1) {
            width: 20%;
        }
        div:nth-child(2) {
            width: 50%;
        }
        div:nth-child(3) {
            width: 30%;
        }
    }

    #about, #experience, #education, #skills {
        display: flex;

        h3 {
            font-weight: lighter;
            color: #8ab5ba;
        }
        .title{
            width: 30%;
            float: none;
            display: table-cell;
        }
        .content {
            float: none;
            display: table-cell;
            text-align: justify;
            width: 70%;
            p {
                color: #828282;
            }
            .position {
                color: #8ab5ba;
                font-size: 29px;
                font-weight: lighter;
            }
        }
    }
}

#photo {
    width: 100%;
}

#circle-skills .progressbar .progressbar-text {
    color: black !important;
}

.projects {
    > p {
        font-size: 16px;
        padding-top: 1em;    
    }
    > ul {
        padding-left: 3em;
        list-style: disc outside;
        li {
            margin-bottom: 2em;
        }
    }
}

ul.project-tags {
    li {
        display: inline;
        padding-left: 3px;
        padding-right: 3px;
    }
}

.chip {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 150, 219);
    color: white;
}

.chip i {
    float: left;
    margin: 0 10px 0 -20px;
    padding: 9px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    background-color: white;
    border-radius: 50%;
}