h1 {

}


#summary {
    background: white;
    padding: 2em;
    margin-top: 30px;

    > * {
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto;
    }

    #header {
        display:table;
        table-layout:fixed;
        
        h1 {
            font-weight: lighter;
            color: #8ab5ba;
        }
        h2 {
            font-size: 24px !important;
            white-space: nowrap;
        }
        img.portrait {
            border-radius: 50%;
            height: 170px;
        }
        div.table-cell {
            float: none;
            display: table-cell;
            padding-right: 20px;

            &.v-top {
                vertical-align: top;
            }

            dt, dd {
                color: #b7b7b7;
                font-size: 13px;
            }
            dd {
                width: 50%;
                float: left;
            }
            dt {
                font-weight: normal;
                width: 48%;
                float: left;
            }
        }
        div:nth-child(1) {
            width: 20%;
        }
        div:nth-child(2) {
            width: 50%;
        }
        div:nth-child(3) {
            width: 30%;
        }
    }
}

#photo {
    width: 100%;
}

#circle-skills .progressbar .progressbar-text {
    color: black !important;
}

ul.project-tags {
    li {
        display:inline;
        padding-left:3px;
        padding-right:3px;
    }
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: rgb(52, 150, 219);
    color: white;
}

.chip i {
    float: left;
    margin: 0 10px 0 -25px;
    padding: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
}