
<div class="row nopadding position">
   <div class="col-md-10 position-title">
      <section class="cd-intro">
         <h2 class="cd-headline clip is-full-width font-accident-two-light">
            <span>The experienced </span>
            <span class="cd-words-wrapper">
               <b class="inner is-visible">{{ cvData.personalData.title }}</b>
               <b class="inner is-hidden" *ngFor="let title of cvData.personalData.altTitles">{{title}}</b>
            </span>
         </h2>
      </section>
   </div>
   <div class="col-md-2 nopadding pdf">
      <a href="#" class="hvr-sweep-to-right"><i class="flaticon-behance7" title="My Behance Portfolio"></i></a>
   </div>
</div>