
<div class="row nopadding position">
   <div class="col-md-10 position-title">
      <section class="cd-intro">
         <h2 class="cd-headline clip is-full-width font-accident-two-light">
            <span>The experienced </span>
            <span class="cd-words-wrapper" style="width: 78.2901px; overflow: hidden;">
               <b class="is-visible">{{ cvData.personalData.title }}</b>
               <b class="is-hidden">Web Designer</b>
               <b class="is-hidden">Photographer</b>
            </span>
         </h2>
      </section>
   </div>
   <div class="col-md-2 nopadding pdf">
      <a href="#" class="hvr-sweep-to-right"><i class="flaticon-behance7" title="My Behance Portfolio"></i></a>
   </div>
</div>